<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
      <h1>😊</h1>

      </div>
      <nav>

        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/portfolio/">Work</a>
          </li>

          <li>
          <a href="/contact/">Contact Me</a>
        </ul>
      </nav>
    </div>
  </div>
</header>